@model tahsinERP.Models.ROLES
@using (Html.BeginForm("Permissions", "Role", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel1">@Model.RName - ning ruxsatlari</h3>
                    <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close">
                        <i class="bx bx-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered complex-headers">
                            <thead>
                                <tr>
                                    <th>Module</th>
                                    <th>O'zgartirish</th>
                                    <th>Ko'rish</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var permission in Model.PERMISSIONS)
                                {
                                    <tr>
                                        <td>@permission.PERMISSIONMODULE.Module</td>
                                        <td>
                                            @Html.CheckBoxFor(perm => permission.ChangePermit, new { @type = "checkbox", @id = "change-checkbox", @class = "checkbox-input" })
                                            <label for="change-checkbox"></label>
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(perm => permission.ViewPermit, new { @type = "checkbox", @id = "change-checkbox", @class = "checkbox-input" })
                                            <label for="change-checkbox"></label>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-primary btn-block subtotal-preview-btn" name="SavePermissions" type="submit" value="SavePermissions">
                        <i class='bx bx-save'></i>
                        Saqlash
                    </button>
                </div>
            </div>
        </div>
    </div>
}
