@model tahsinERP.Models.PERMISSIONMODULE
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

@if (tahsinERP.Models.RoleHelper.IsChangePermitted(User.Identity.Name, "PermissionModule"))
{
    using (Html.BeginForm("Edit", "PModule", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <!-- app invoice View Page -->
                    <section class="invoice-edit-wrapper">
                        <div class="row">
                            <!-- invoice view page -->
                            <div class="col-xl-9 col-md-8 col-12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body pb-0 mx-25">
                                            <div class="row invoice-info">
                                                <div class="col-lg-12 col-md-6 mt-25">
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <hr>
                                                    <h6 class="invoice-to">Model nomi</h6>
                                                    <fieldset class="invoice-address form-group">
                                                        @Html.TextBoxFor(model => model.Module, new { @class = "form-control", @placeholder = "Model nomi" })
                                                        @Html.ValidationMessageFor(model => model.Module, "", new { @class = "text-danger" })
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <hr>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item border-0 pb-0">
                                                    <button class="btn btn-primary btn-block subtotal-preview-btn" name="edit" type="submit" value="Edit">
                                                        <i class='bx bx-save'></i>
                                                        Saqlash
                                                    </button>
                                                    <br />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    }
}
else
{
    Response.Redirect(Url.Action("Index", "ViewNotAuthorized"));
}