@model tahsinERP.Models.ROLE

<div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close rounded-pill btn-pinned " data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table mt-1">
                        <thead>
                            <tr>
                                <th>Module</th>
                                <th>O'zgartirish</th>
                                <th>Ko'rish</th>
                            </tr>
                        </thead>
                        @foreach (var permission in Model.PERMISSIONS)
                        {
                            <tbody>
                                <tr>
                                    <td>@permission.PERMISSIONMODULE.Module</td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" id="change-checkbox-@permission.ID" class="checkbox-input" @(permission.ChangePermit ? "checked" : "")>
                                            <label for="change-checkbox-@permission.ID"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" id="view-checkbox-@permission.ID" class="checkbox-input" @(permission.ViewPermit ? "checked" : "")>
                                            <label for="view-checkbox-@permission.ID"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                    <button class="btn btn-primary btn-block subtotal-preview-btn" name="save" type="submit" value="Save">
                        <i class='bx bx-save'></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

