* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: normal;
}

h1 {
    padding: 0 0 10px 0;
}

.wtree ul li {
    list-style-type: none;
    margin: 10px 0 10px 10px;
    position: relative;
    cursor: pointer;
}

.wtree ul li:first-child {
    margin: 10px 0 10px 10px;
}

.wtree ul li:nth-child(2) {
    margin: 10px 150px 10px 10px;
}

.wtree li:last-child {
    margin: 10px 350px 10px 10px;
}

.wtree li:before {
    content: "";
    counter-increment: item;
    position: absolute;
    top: -10px;
    left: 170px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 30px;
    height: 15px;
}

.wtree .thirdLevel:before {
    left: 50px !important;
}

.wtree li:after {
    position: absolute;
    content: "";
    top: 5px;
    left: 170px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    width: 30px;
    height: 100%;
}

.wtree li:last-child:after {
    display: none;
}

.wtree li div span {
    display: block;
    border: 1px solid #ddd;
    padding: 10px;
    color: #666666;
    text-decoration: none;
}

.wtree li div span:hover, .wtree li div span:focus {
    color: #000;
    border: 1px solid #474747;
}

.wtree li div span:hover + ul li span, .wtree li div span:focus + ul li span {
    color: #000;
    border: 1px solid #474747;
}

.wtree li div span:hover + ul li:after, .wtree li div span:hover + ul li:before, .wtree li div span:focus + ul li:after, .wtree li div span:focus + ul li:before {
    border-color: #474747;
}

#firstLevel span {
    background-color: #DDF3FE;
}

#firstLevel #secondLevel span {
    background-color: #DDEBC8;
}

#firstLevel #secondLevel #thirdLevel span {
    background-color: #FEFCD5;
}

#secondLevel div {
    margin-left: 200px;
}

#thirdLevel div {
    margin-left: 450px;
}



.display {
    margin-right: 12px;
    font-weight: bold;
}

input, label {
    margin: 12px 0px 20px 0px;
}

label {
    padding-left: 6px;
    padding-right: 12px;
}

.wtree ul {
    display: none;
}