@{
    ViewBag.Title = "Index";
    Layout = null;
}
    
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@ViewData["Title"] - tahsinERP</title>

    <link rel="apple-touch-icon" href="~/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/components.css">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/pages/coming-soon.css">

</head>
<body class="vertical-layout vertical-menu-modern white-layout 1-column  navbar-sticky footer-static bg-full-screen-image blank-page blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column" data-layout="dark-layout">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- coming soon start -->
                <section>
                    <div class="row flexbox-container">
                        <div class="col-md-6 col-12 text-center p-3">
                            <img class="img-fluid cs-effect cs-effect-bounce" src="~/app-assets/images/pages/comingsoon.png" alt="coming soon" width="350">
                            <br />
                            <br />
                            <h1 class="error-title mb-2">Yaqinda ishga tushiramiz</h1>
                            <br />
                            <a href="~/Home" class="btn btn-primary round glow mt-2">Asosiy sahifa</a>
                        </div>
                    </div>
                </section>
                <!--/ coming soon end -->
            </div>
        </div>
    </div>



</body>